[Unit]
Description=Verifica a cada 2 minutos se ha commit novo do Prospector

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
Persistent=true
AccuracySec=15s

[Install]
WantedBy=timers.target
